.background-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(45deg, rgba(200, 200, 200, 0.1), rgba(150, 150, 150, 0.05));
}

.circle-1 {
  width: 200px;
  height: 200px;
  top: 10%;
  left: -50px;
}

.circle-2 {
  width: 150px;
  height: 150px;
  bottom: 20%;
  right: -30px;
}

.circle-3 {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 20%;
  opacity: 0.3;
}
